*.css linguist-detectable=true
*.rb linguist-detectable=true
*.python linguist-detectable=true 
*.js linguist-detectable=true
*.json linguist-detectable=true
*.html linguist-detectable=true  
*.xml linguist-detectable=true
*.shell linguist-detectable=true 