*.ruby linguist-detectable=true
*.python linguist-detectable=true 
*.javascript linguist-detectable=true
*.json linguist-detectable=true
*.html linguist-detectable=true  
*.powershell linguist-detectable=true 